body.bg-img {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: url('../images/bg_login.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.overlay {
  background-color: rgba(10, 10, 20, 0.75);
  padding: 60px 20px;
  min-height: 100vh;
}

.login-container {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border-radius: 14px;
  background-color: rgba(17, 24, 39, 0.95);
  border: 2px solid #2563eb;
  box-shadow: 0 0 20px rgba(96, 165, 250, 0.2);
}

.login-title {
  text-align: center;
  font-size: 30px;
  color: #60a5fa;
  margin-bottom: 25px;
}

.form-grid label {
  display: block;
  margin-top: 16px;
  font-weight: 500;
  color: #dbeafe;
}

.form-grid input[type="email"],
.form-grid input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  background-color: #1e293b;
  color: #f9fafb;
  border: 1px solid #334155;
}

.form-grid input:focus {
  outline: 2px solid #60a5fa;
  border-color: #60a5fa;
}

.forgot-link {
  margin-top: 12px;
  font-size: 14px;
  text-align: right;
}

.forgot-link a {
  color: #60a5fa;
  text-decoration: underline;
}

.full-btn {
  width: 100%;
  margin-top: 25px;
  background: #6366f1;
  color: white;
  font-weight: 600;
  border: none;
  padding: 12px 0;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.full-btn:hover {
  background: #3b82f6;
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.4);
}

.bottom-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.bottom-link a {
  color: #60a5fa;
  text-decoration: underline;
}

.error-box {
  background-color: #fee2e2;
  color: #b91c1c;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-left: 4px solid #dc2626;
  border-radius: 6px;
  font-size: 14px;
}


.success-box {
  background-color: #d1fae5;
  color: #065f46;
  padding: 10px 15px;
  border-left: 4px solid #10b981;
  border-radius: 6px;
  margin-bottom: 15px;
}

.form-grid input[type="text"],
.form-grid input[type="email"],
.form-grid input[type="password"],
.form-grid input[type="number"],
.form-grid input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  background-color: #1e293b;
  color: #f9fafb;
  border: 1px solid #334155;
  box-sizing: border-box;
}

.form-grid button[type="submit"],
.form-grid input[type="submit"] {
  width: 100%;
  background: #6366f1;
  color: white;
  font-weight: 600;
  border: none;
  padding: 12px 0;
  border-radius: 8px;
  margin-top: 20px;
  transition: 0.3s ease;
  cursor: pointer;
}

.form-grid button[type="submit"]:hover,
.form-grid input[type="submit"]:hover {
  background: #3b82f6;
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.4);
}



